body {
    margin: 0;
    padding: 0;
}

.top-banner {
    background: url(media/header-bg.jpg);
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: darken;

}

#header-text {
    font-size: 70px;
}
.large-bottom-text{
    font-size: 40px;
    font-weight: 700;
    color: coral;
}

.large-body-text {
    font-size: 50px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    font-family: 'Aboreto';
}

h3 {
    font-size: xx-large;
    font-family: sans-serif;
    font-weight: 700;
}

p {
    font-size: x-large;
    font-family: sans-serif;
}

.button {
    color: antiquewhite;
    text-decoration: none;
    font-weight: 700;
    font-family: 'Lucida Sans';
    background-color: brown;
    padding: 15px 20px;
    border-radius: 10px;

}

.text-align {
    text-align: center;
    margin: 30px 30px;
    padding: 30px 30px;
}

.White-text {
    color: antiquewhite;
}

.Black-text {
    color: black;

}

.Gray-text {
    color: gray;
}

.container {
    display: flex;
    margin: 0;
    justify-content: center;
}

.box {
    text-align: center;
    width: 135px;
    height: 123px;
    padding: 10px;
    margin: 10px;
    background-color: #FAFAFA;
    float: left;
}

#input {
    margin: 0% 30%;
    border: none;
    background-color: white;
    font-size: x-large;
    border-bottom: 1px gray solid;
    color: #707070;
    text-align: center;
}

.card {
    width: 360px;
    height: 352px;
    background-color: #d08a8a;
    margin: 30px 30px;
    padding: 30px 30px;
    border-radius: 20px;
}

.cards-container {
    display: flex;
    justify-content: center;
    margin: 20px 50px;
    padding: 50px 10px;
}

.half-width {
    width: 50%;
    padding: 10px 10px;
    margin: 10px 30px;
}

.half-width-image {
    width: 70%;
}

.sixth-part {
    display: block;
    margin: 10px 50px;
    text-align: center;

}

.sixth-bottom {
    background-color: #d08a8a3f;
    display: flex;
    justify-content: center;
    margin: 0px 400px;
    padding: 100px 0px;
}

.bottom-part {
    background-color: darkblue;
    display: flex;
    justify-content: center;
    margin: 20px 00px;
    padding: 100px 0px;
}